<div class="container my-5">
    <h1 class="display-5">ToDo List App</h1>
    <p class="my-3 fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda eaque minus reiciendis cupiditate praesentium accusantium, tenetur dolor omnis harum dignissimos animi ipsam voluptate repellendus soluta repellat ipsa quae vero voluptatibus doloremque est ratione illo tempore similique! Obcaecati ipsa, aliquam tempora numquam odio error libero iste repellat deserunt delectus earum repudiandae expedita assumenda eligendi porro aliquid tempore impedit facilis asperiores. Eius alias facere eveniet illum libero animi ipsa inventore aut.
    </p>
    <button class="btn btn-warning" type="button">Learn More</button>
</div>